@keyframes slideAnimation1
{
	from { left: 55%; } to { left: 10%; }
}

@keyframes slideAnimation2
{
	from { left: -10%; } to { left: 0%; }
}

@keyframes slideAnimation3
{
	from { left: 50%; } to { left: -1%; }
}